@model CartViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
      Pager pager=new Pager();
    int pageNo=0;
    if(ViewBag.Pager is not null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="home-bg">
     
<section class="home">

   <div class="swiper home-slider">
   
   <div class="swiper-wrapper">

      <div class="swiper-slide slide">
          @foreach(var items in ViewBag.lastproduct)
        {
           <div class="image">
            <img src="~/uploaded_img/@items.imgpath" alt="">
         </div>
        }
         
         <div class="content">
            <h3>latest Products</h3>
            <a asp-action="Index" asp-controller="ShowMenu" class="btn">shop now</a>    
         </div>
      </div>

      
   </div>

      <div class="swiper-pagination"></div>

   </div>

</section>

</div>


<section class="category">
      <h1 class="heading">Shop by Category</h1>

      <div class="flex-row flex-sm-column">
      @foreach(var items in ViewBag.list)
        {
        
        <a class="btn btn-secondary text-white m-1" asp-action="ShowCategoryMenu" asp-controller="ShowMenu" asp-route-Id="@items.Id" style="font-size:20px;">@items.Name</a>
        }
    </div>
    <br />
    <nav class="...">
            @if(pager.TotalPages>0)
            {
                <ul class="pagination justify-content-center pagination-lg">
                    @if(pager.CurrentPage>1)
                    {
                        <li class="page-item">
                            <a class="page-link"asp-action="Index" asp-controller="Home" asp-route-pg="1">Frist</a>
                        </li>  
                        <li>
                            <a class="page-link"asp-action="Index" asp-controller="Home" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                        </li>
                    }
                    @for(var pge =pager.StartPage;pge <= pager.EndPage;pge++)
                    {
                        <li class="page-item" @(pge==pager.CurrentPage? "active" :"")>
                            <a class="page-link"asp-action="Index" asp-controller="Home" asp-route-pg="@pge">@pge</a>
                        </li>
                    }
                    @if(pager.CurrentPage<pager.TotalPages)
                    {
                       <li class="page-item">
                            <a class="page-link"asp-action="Index" asp-controller="Home" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                        </li> 
                        <li class="page-item">
                            <a class="page-link"asp-action="Index" asp-controller="Home" asp-route-pg="@(pager.TotalPages)">Last</a>
                        </li> 
                    }

                </ul>
            }
        </nav>

 </section>

<section class="home-products">

   <h1 class="heading">latest products</h1>

   <div class="swiper products-slider">

   <div class="swiper-wrapper">
     @foreach(var item in ViewBag.listproduct)
       {
   
      <form asp-action="AddToCart"asp-controller="Cart" class="swiper-slide slide">
            <input type="hidden" asp-for="Ordername" value="@item.Ordername" />
            <input type="hidden" asp-for="Price" value="@item.Price"/>
            <input type="hidden" asp-for="Discount" value="@item.Discount"/>
            <input type="hidden" asp-for="imgpath" value="@item.imgpath"/>
         <a asp-action="AddToWishList" asp-controller="WishList" asp-route-Id="@item.MenuId" class="fas fa-heart"></a>
         <a asp-action="ShowDetailes" asp-controller="ShowMenu" asp-route-Id="@item.MenuId" class="fas fa-eye"></a>
      <img src="~/uploaded_img/@item.imgpath" alt="">
      <div class="name">@item.Ordername</div>
      <div class="flex">
            @if(item.DiscountPrice >0){
                        <div class="text-warning" style="text-decoration:line-through;text-decoration-color:red;font-size:16px">$@item.Price</div>
                        <div class="text-primary" style="font-size:16px">%@item.Discount Off</div>                      
                        <div class="price">$@item.DiscountPrice</div>
                        }
                        else
                        {
                        <div class="price">$@item.Price</div>  
                        }
         <input type="number" asp-for="Quantity" class="qty" min="1" max="99" onkeypress="if(this.value.length == 2) return false;" value="1">
      </div>
      <button type="submit" class="btn" name="add_to_cart">Add To Cart </button>
   </form> 

        }
       </div>

   <div class="swiper-pagination"></div>

   </div>

</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
