@model CartViewModel
@{
    ViewData["Title"] = "Menus";
    Layout = "_Layout";
     Pager pager=new Pager();
    int pageNo=0;
    if(ViewBag.Pager is not null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<section class="products">

   <h1 class="heading">Products</h1>

   <div class="box-container">
     @foreach(var item in ViewBag.list)
       {
     <form asp-action="AddToCart"asp-controller="Cart" class="box">
            <input type="hidden" asp-for="Ordername" value="@item.Ordername" />
            <input type="hidden" asp-for="Price" value="@item.Price"/>
            <input type="hidden" asp-for="Discount" value="@item.Discount"/>
            <input type="hidden" asp-for="imgpath" value="@item.imgpath"/>
         <a class="fas fa-heart" asp-action="AddToWishList" asp-controller="WishList" asp-route-Id="@item.MenuId" name="add_to_wishlist"></a>
         <a asp-action="ShowDetailes" asp-controller="ShowMenu" asp-route-Id="@item.MenuId" class="fas fa-eye"></a>
      <img src="~/uploaded_img/@item.imgpath" alt="">
      <div class="name">@item.Ordername</div>
      @if(item.DiscountPrice >0){
            <div class="text-warning" style="text-decoration:line-through;text-decoration-color:red;font-size:16px">$@item.Price</div>
            <div class="text-primary" style="font-size:16px">%@item.Discount Off</div>                         
            }
      <div class="flex">
                        
        @if(item.DiscountPrice ==0)
        {
        <div class="price">$@item.Price</div>  
        }
        else
        {
            <div class="price">$@item.DiscountPrice</div>
        }
       <input type="number" asp-for="Quantity" class="qty" min="1" max="99" onkeypress="if(this.value.length == 2) return false;" value="1">
      </div>
      <button type="submit" class="btn" name="add_to_cart">Add To Cart </button>
   </form>

        }

        </div>
        <br />
        <nav class="...">
            @if(pager.TotalPages>0)
            {
                <ul class="pagination justify-content-center pagination-lg">
                    @if(pager.CurrentPage>1)
                    {
                        <li class="page-item">
                            <a class="page-link"asp-action="Index" asp-controller="ShowMenu" asp-route-pg="1">Frist</a>
                        </li>  
                        <li>
                            <a class="page-link"asp-action="Index" asp-controller="ShowMenu" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                        </li>
                    }
                    @for(var pge =pager.StartPage;pge <= pager.EndPage;pge++)
                    {
                        <li class="page-item" @(pge==pager.CurrentPage? "active" :"")>
                            <a class="page-link"asp-action="Index" asp-controller="ShowMenu" asp-route-pg="@pge">@pge</a>
                        </li>
                    }
                    @if(pager.CurrentPage<pager.TotalPages)
                    {
                       <li class="page-item">
                            <a class="page-link"asp-action="Index" asp-controller="ShowMenu" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                        </li> 
                        <li class="page-item">
                            <a class="page-link"asp-action="Index" asp-controller="ShowMenu" asp-route-pg="@(pager.TotalPages)">Last</a>
                        </li> 
                    }

                </ul>
            }
        </nav>
</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
