@model List< Menus>
@{
    ViewData["Title"] = "Deleted Products";
    Layout = "_AdminLayout";
}
@section stylecss{
    <style>
        #content
        {
           flex-grow: 1;
           height: 30rem;
           width:80%;
           margin:0 auto;
           overflow: auto; 
           font-size:16px;
        }
      
    </style>
}
<div style="margin-top:30px">
    <div id="content" >
        <table class="table table-bordered mt-3 table-striped table-hover">
            <thead class=" text-center" style="background:#2b6777 ;color:white">
                <tr style="margin:auto">
                     <th>Code</th>
                     <th>Name</th>
                     <th>Price</th>
                     <th>Image Name</th>
                     <th>Image</th>
                     <th>Category Code</th>
                     <th>Date and Time</th>
                     <th>Is Deleted</th>
                     <th>Options</th>
                 </tr>
             </thead>
             <tbody class="m-1">
               @foreach(var itm in Model)
                {
                    <tr style="margin:auto">
                        <td>@itm.Id</td>
                        <td>@itm.Name</td>
                        <td>@itm.Price</td>
                        <td>@itm.imgpath</td>
                        <td>
                           <img src="~/uploaded_img/@itm.imgpath" style="width:64px" class="img-thumbnail">
                          </td>
                        <td>@itm.CategoryId</td>
                        <td>@itm.Date</td>
                        <td>@itm.IsDeleted</td>
                        <td>
                            <a asp-action="RestoreProduct" id="btn" asp-controller="Menu"asp-route-id="@itm.Id"onclick="return confirm('are you sure to Restore this item @itm.Name')" class="btn btn-danger">Restore</a>
                        </td>
                    </tr>
        
                }
            </tbody>
        </table>
    </div>
</div>