@model List< Menus>
@{
    ViewData["Title"] = "Products";
    Layout = "_AdminLayout";
     Pager pager=new Pager();
    int pageNo=0;
    if(ViewBag.Pager is not null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div style="margin-top:20px">
            <div class="flex-flow justify-content-start input-group">
                 <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary m-3">Back to Dashboard</a>
                 <a asp-action="CreateProducts" asp-controller="Menu" class="btn btn-success m-3">Create</a>
            </div>
            <div class="flex-flow mb-1">
                   <form asp-action="Index" method="get">
              <div class="input-group justify-content-end flex-flow">
                
                 <div class="form-outline">
                     <input type="search" id="form1" name="search" class="form-control" />
                  </div>
                  <button type="submit" value="search" class="btn btn-primary">
                      <i class="fas fa-search"></i>
                  </button>
                  <a asp-action="Index" asp-controller="Menu" class="btn btn-primary" style="margin-left:6rem">Refresh</a>
              </div>
            </form>  
                </div>
    <div id="content" >
        <table class="table table-bordered mt-3 table-striped table-hover">
            <thead class=" text-center" style="background:#2b6777 ;color:white">
                <tr style="margin:auto">
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Detailes</th>
                    <th>Image</th>
                    <th>Image 2</th>
                    <th>Image 3</th>
                    <th>Category Code</th>
                    <th>Is Deleted</th>
                    <th>UserName</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                    <th>Delete Date</th>
                    <th>Restore Date</th>
                    <th>Options</th>
                </tr>
             </thead>
             <tbody class="m-1">
               @foreach(var itm in Model)
                {
                    <tr style="margin:auto">
                        <td>@itm.Id</td>
                        <td>@itm.Name</td>
                        <td>@itm.Price</td>
                        <td>@itm.Detailes</td>
                        <td>
                            <img src="~/uploaded_img/@itm.imgpath" style="width:64px" class="img-thumbnail">
                        </td>
                        <td>
                            <img src="~/uploaded_img/@itm.imgpath2" style="width:64px" class="img-thumbnail">
                        </td>
                        <td>
                            <img src="~/uploaded_img/@itm.imgpath3" style="width:64px" class="img-thumbnail">
                        </td>
                        <td>@itm.CategoryId</td>
                        <td>@itm.IsDeleted</td>
                        <td>@itm.UserName</td>
                        <td>@itm.CreateDate</td>
                        <td>@itm.UpdateDate</td>
                        <td>@itm.DeleteDate</td>
                        <td>@itm.RestoreDate</td>
                        <td>
                            <a asp-action="UpdateProduct" id="btn" asp-controller="Menu" asp-route-id="@itm.Id" class="btn btn-secondary m-1">Edit</a>
                            <a asp-action="DeleteProduct" id="btn" asp-controller="Menu" asp-route-id="@itm.Id" onclick="return confirm('are you sure to delete this item @itm.Name')" class="btn btn-danger m-1">Delete</a>
                        </td>

                    </tr>
        
                }
            </tbody>
        </table>
           <nav class="...">
            @if(pager.TotalPages>0)
            {
                <ul class="pagination justify-content-center pagination-lg">
                    @if(pager.CurrentPage>1)
                    {
                        <li class="page-item">
                            <a class="page-link"asp-action="Index" asp-controller="Menu" asp-route-pg="1">Frist</a>
                        </li>  
                        <li>
                            <a class="page-link"asp-action="Index" asp-controller="Menu" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                        </li>
                    }
                    @for(var pge =pager.StartPage;pge <= pager.EndPage;pge++)
                    {
                        <li class="page-item" @(pge==pager.CurrentPage? "active" :"")>
                            <a class="page-link"asp-action="Index" asp-controller="Menu" asp-route-pg="@pge">@pge</a>
                        </li>
                    }
                    @if(pager.CurrentPage<pager.TotalPages)
                    {
                       <li class="page-item">
                            <a class="page-link"asp-action="Index" asp-controller="Menu" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                        </li> 
                        <li class="page-item">
                            <a class="page-link"asp-action="Index" asp-controller="Menu" asp-route-pg="@(pager.TotalPages)">Last</a>
                        </li> 
                    }

                </ul>
            }
        </nav>
    </div>
</div>